.Header {
    $pd: 0.8rem;
    width: calc(100% - $pd * 2);
    padding: $pd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 99;
    transition: 0.3s;

    &.bg {
        background-color: #ffffff9a;
        box-shadow: 0 1px var(--gray-a4);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);

        :global(.dark) & {
            background-color: #1111109a;
        }
    }

    .Inner {
        width: 100%;
        max-width: 1200px;
        position: relative;
        display: flex;
        align-items: center;
        height: 40px;

        .HomeBtn {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding-left: var(--space-2);
            padding-right: var(--space-2);
        }

        .MbMenu {
            display: none;

            @media only screen and (max-width: 512px) {
                display: flex;
            }
        }

        .Nav {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;

            .NavBtn {
                margin: 0;
                padding-left: var(--space-3);
                padding-right: var(--space-3);

                @media only screen and (max-width: 512px) {
                    display: none;
                }
            }
        }
    }
}