.LineTitle {
    display: flex;
    align-items: center;
    padding: 16px 0;

    .LineGroup {
        width: 100%;
        height: 24px;
        margin-left: 16px;

        &.First {
            width: 50px;
            height: 24px;
            margin-right: 16px;
            margin-left: 0;
        }

        .Line {
            width: 100%;
            height: 2px;
            margin: 4px 0px;
            background-color: #FEE1C1;
        }

    }

    .Text {
        display: flex;
        flex: none;
        flex-direction: row;
        align-items: flex-end;
        line-height: 16px;

        .Primary {
            font-size: 16px;
            color: #D47999;
            word-wrap: keep-all;
            flex: none;
        }

        .Secondary {
            font-size: 10px;
            line-height: 20px;
            margin-left: 4px;
            opacity: 0.5;
            word-wrap: keep-all;
            flex: none;
        }
    }
}