body {
    background-color: #ffabde;
    background-image: url('./assets/background.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}