@import "tailwindcss";
@import '@radix-ui/themes/styles.css';

@tailwind utilities;

.radix-themes {
    --default-font-family: 'Inter', sans-serif;
    --heading-font-family: 'Manrope', sans-serif;
    @apply flex flex-col items-center
}

body {
    background: #121113;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope', sans-serif;
    font-weight: 600 !important;
}

.PrettyTitle {
    --text-color: var(--accent-a12);
    background: radial-gradient(circle 300px at 30% -180%, var(--text-color) 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 4px rgba(255, 255, 255, .1), 0 0 14px rgba(130, 168, 236, .2);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, .7);
    border-radius: 10px;
    background-clip: content-box;
    border: 4px solid transparent;
    transition: .2s;
}

::-webkit-scrollbar-thumb:hover {
    background-clip: content-box;
    border: 3px solid transparent
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(128, 128, 128, .4);
    background-clip: content-box
}

body, html {
    @apply overflow-x-hidden;
}